<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoVisionAR Cámara</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>AutoVisionAR Cámara</h1>
        <div class="video-container">
            <img src="{{ url_for('video_feed') }}" width="100%">
        </div>
        <a href="{{ url_for('home') }}" class="btn">Página Principal</a>
    </div>
</body>
</html>